{% extends 'base.html' %}

{% block content %}
    <form id="form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-md-4">
                {% include 'includes/form_button_with_errors.html' with field=form.product %}
            </div>
            <div class="form-group col-md-4">
                {% include 'includes/form_button_with_errors.html' with field=form.purchase_price %}
            </div>
            <div class="form-group col-md-4">
                {% include 'includes/form_button_with_errors.html' with field=form.quantity %}
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        function sendForm() {
            const myForm = document.getElementById('form');
            myForm.submit();
        }
    </script>
{% endblock %}